{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="body-container">
    <div class="services-container">
        <div class="content-title" style="font-size: 24px;">Register</div><br />

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {# {{ form_row(registrationForm.agreeTerms) }} #}

            <button type="submit" class="main-button">Register</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
