{% extends 'base.html.twig' %}

{% block title %}Configuration palen{% endblock %}

{% block body %}
    <div class="body-container">
        <div class="services-container">
            <div class="content-title">
                Configuration panel
            </div>
            <div class="content-text">
                There you can create and edit user site data and administration data.
            </div>
            <line></line>
            <div class="content-title">
                Messages
            </div>
            <div class="content-text">
                There you can open and delete private and public recommendation.
            </div>
            <div class="row">
                <button class="config-button" onclick="location.href='{{ path('app_privateapp_private_list') }}'">
                    <span class="main-text">Privte messages</span>
                    <i class="config-icons message-icon"></i>
                </button>
                <button class="config-button" onclick="location.href='{{ path('app_publicapp_public_list') }}'">
                    <span class="main-text">Public recommendation</span>
                    <i class="config-icons message-icon"></i>
                </button>
            </div>
            <div class="content-title">
                Homepage configuration
            </div>
            <div class="content-text">
                There you can edit textblock and images on the first page.
            </div>
            <div class="row">
                <button class="config-button" onclick="location.href='{{ path('home_blockapp_homeblock_index',{'block_name':'first'}) }}'">
                    <span class="main-text">First block</span>
                    <i class="config-icons text-icon"></i>
                </button>
                <button class="config-button" onclick="location.href='{{ path('home_blockapp_homeblock_index',{'block_name':'second'}) }}'">
                    <span class="main-text">Second block</span>
                    <i class="config-icons text-icon"></i>
                </button>
                <button class="config-button" onclick="location.href='{{ path('home_blockapp_homeblock_index',{'block_name':'third'}) }}'">
                    <span class="main-text">Third block</span>
                    <i class="config-icons text-icon"></i>
                </button>
            </div>
            <div class="content-title">
                Services configuration
            </div>
            <div class="content-text">
                There you can edit textblock on the services page.
            </div>
            <div class="row">
                <button class="config-button" onclick="location.href='{{ path('service_create') }}'">
                    <span class="main-text">Add service block</span>
                    <i class="config-icons add-icon"></i>
                </button>
                <button class="config-button" onclick="location.href='{{ path('service_list') }}'">
                    <span class="main-text">Service block list</span>
                    <i class="config-icons edit-icon"></i>
                </button>
            </div>
            <div class="content-title">
                Contact data configuration
            </div>
            <div class="content-text">
                There you can edit contact data on the contact page.
            </div>
            <div class="row">
                <button class="config-button" onclick="location.href='/config/edit_contact'">
                    <span class="main-text">Edit contact data</span>
                    <i class="config-icons edit-icon"></i>
                </button>
            </div>
            <div class="content-title">
                Admin data configuration
            </div>
            <div class="content-text">
                There you can edit admin data - login and password.
            </div>
            <div class="row">
                <button class="config-button" onclick="location.href='/config/edit_admin'">
                    <span class="main-text">Edit admin data</span>
                    <i class="config-icons edit-icon"></i>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
