{% extends 'base.html.twig' %}

{% block title %}Service block configuration{% endblock %}

{% block body %}
<div class="body-container">
    <div class="services-container">
            <div class="content-text">
                There you can add new Service in your service list.
            </div>
            {% for label, messages in app.flashes(['success']) %}
                {% for message in messages %}
                    <div class="flash-container flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% if form is defined %}
                {{ form_start(form, {'action': path('service_create'), 'method': 'POST'}) }}
                    {{ form_label(form.serviceTitle) }}
                    {{ form_help(form.serviceTitle) }}
                    {{ form_widget(form.serviceTitle) }}
                    {{ form_label(form.serviceValue) }}
                    {{ form_help(form.serviceValue) }}
                    {{ form_widget(form.serviceValue) }}
                    {{ form_label(form.visibility) }}
                    {{ form_help(form.visibility) }}
                    {{ form_widget(form.visibility) }}
                    {{ form_row(form.Update) }}
                {{ form_end(form) }}
            {% elseif form is not defined %}
                <div class="content-text">
                    No form is defined there.
                </div>
            {% endif %}
    </div>
</div>
{% endblock %}
