{% extends 'base.html.twig' %}
{% import "form/recaptcha_form.html.twig" as recaptchaForm %}

{% block body %}
    <div class="body-container">
        <div class="contact-container">
            <div class="icon-container">
                <i class="contact-icon"></i>
            </div>
            <div class="content-title">
                Der Kontakt zu uns
            </div>
            <line></line>
            {% for contactData in contact %}
            <div class="content-title">
                {{ contactData.companyName }}
            </div>
            <div class="content-text">
                {{ contactData.postCode }},{{ contactData.City }}<br />
                {{ contactData.street }}
            </div>
            <div class="position-container">
                <div class="content-title">
                    Finden Sie uns:
                </div>
                <iframe scrolling="no" crossorigin="anonymous" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=302&amp;height=293&amp;hl=en&amp;q={{ contactData.street }}%20{{ contactData.city }}+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" class="google-map container-shadow" width="520" height="400" frameborder="0"></iframe>
            </div>
            <br />
            <div class="content-title">
                Telefon:
            </div>
            <div class="content-text">
                {{ contactData.phone }}
            </div>
            <div class="content-title">
                Email:
            </div>
            <div class="content-text">
                {{ contactData.email }}
            </div>
            <div class="content-title">
                Internet:
            </div>
            <div class="content-text">
                {{ contactData.website }}
            </div>
            {% else %}

            {% endfor %}
            <br />
            <br />
            <br />
            <div class="content-title">
                Kontaktformular
            </div>
            <line></line>
            {% if form is defined %}
                {{ form_start(form) }}
                    {% for label, messages in app.flashes(['reCaptcha','success']) %}
                        {% for message in messages %}
                            <div class="flash-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.message) }}
                    {{ form_row(form.PersonalData) }}
                    {{ recaptchaForm.recaptcha() }}
                    {{ form_row(form.Update) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}