<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
                D&J Professionelle PolsterReinigung
            {% endblock %}
        </title>
        <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block head %}
            <div class="head-container contrainer">
                <span class="logo-text">D&J</span>
                <span class="main-text d-none d-lg-inline-block">Professionelle PolsterReinigung</span>
                <div class="head-nav d-none d-lg-inline-block">
                    <button class="main-button" onclick="location.href='{{ path('app_recommendation_list') }}'">Home</button>
                    <button class="main-button" onclick="location.href='{{ path('app_services_main') }}'">Leistungen</button>
                    <button class="main-button" onclick="location.href='{{ path('app_contact_add') }}'">Kontakt</button>
                    {% if is_granted('ROLE_ADMIN') %}
                        <button class="main-button" onclick="location.href='{{ path('app_config') }}'">Config</button>
                        <button class="main-button" onclick="location.href='{{ path('app_logout') }}'">Logout</button>
                    {% endif %}
                </div>
                <i class="head-menu d-inline-block d-lg-none" data-menu="true"></i>
            </div>
            <div class="head-nav custom-nav d-none">
                <button class="main-button" onclick="location.href='{{ path('app_recommendation_list') }}'">Home</button><br />
                <button class="main-button" onclick="location.href='{{ path('app_services_main') }}'">Leistungen</button><br />
                <button class="main-button" onclick="location.href='{{ path('app_contact_add') }}'">Kontakt</button>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="main-button" onclick="location.href='{{ path('app_config') }}'">Config</button>
                    <button class="main-button" onclick="location.href='{{ path('app_logout') }}'">Logout</button>
                {% endif %}
            </div>
        {% endblock %}
        {% block body %}

        {% endblock %}
        {% block foot %}
            <div class="foot-container">
                <div class="links-container">
                    <a href="{{ path('app_impressum_main') }}">Impressum</a> <b style="color: white;">|</b>
                    <a href="{{ path('app_personalldata_main') }}">Datenschutz</a> <b style="color: white;">|</b>
                    <a href="{{ path('app_contact_add') }}">Kontakt</a>
                </div>
                <span class="main-text">Copyright © js.px 2021</span>
                <span class="main-text">Alle Rechte vorbehalten.</span>
                <!--<button class="main-button">Einloggen</button>-->
            </div>
        {% endblock %}
        {% block toTheTop %}
            <div class="toTheTop">
                Up
            </div>
        {% endblock %}
        {% block preloader %}
            <div class="preloader-container">
                <center style="position: relative; top: 30%; color: white;">
                    <span class="logo-text">D&J</span><br />
                    Loading...
                </center>
                <line style="border-color: white; position: relative; top: 40%;"></line>
            </div>
        {% endblock %}
    </body>
</html>
