<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
            {% block title %}
                Home
            {% endblock %}
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset("favicon.ico") }}" />
        <link href="https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block head %}
            <div class="head-container contrainer">
                {{ render(path('yaml_header')) }}
                <div class="head-nav d-none d-lg-inline-block">
                    <button class="main-button" onclick="location.href='{{ path('app_home') }}'">Home</button>
                    <button class="main-button" onclick="location.href='{{ path('app_services') }}'">Leistungen</button>
                    <button class="main-button" onclick="location.href='{{ path('app_contact') }}'">Kontakt</button>
                    {% if is_granted('ROLE_ADMIN') %}
                        <button class="main-button" onclick="location.href='{{ path('app_config') }}'">Config</button>
                        <button class="main-button" onclick="location.href='{{ path('app_logout') }}'">Logout</button>
                    {% endif %}
                </div>
                <i class="head-menu d-inline-block d-lg-none" data-menu="true"></i>
            </div>
            <div class="head-nav custom-nav d-none">
                <button class="main-button" onclick="location.href='{{ path('app_home') }}'">Home</button><br />
                <button class="main-button" onclick="location.href='{{ path('app_services') }}'">Leistungen</button><br />
                <button class="main-button" onclick="location.href='{{ path('app_contact') }}'">Kontakt</button>
                {% if is_granted('ROLE_ADMIN') %}
                    <button class="main-button" onclick="location.href='{{ path('app_config') }}'">Config</button>
                    <button class="main-button" onclick="location.href='{{ path('app_logout') }}'">Logout</button>
                {% endif %}
            </div>
        {% endblock %}
        {% block body %}

        {% endblock %}
        {{ render(path('yaml_media_links')) }}
        {% block toTheTop %}
            <div class="toTheTop">
                Up
            </div>
        {% endblock %}
    </body>
</html>
